.links{
    color: #fff;
    font-size: 18px;
    display: inline-block;
    margin: 1rem 3rem 0 0;
}
.supportHero{
    background-color: rgb(56, 126, 209);
    color: #fff;
}
.supportWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}
.search{
    border: #fff;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    margin-top: 2rem;
}
.leftSec{
    padding: 0 2rem 8rem 20rem;
}
.trackLinks{
    display: flex;
}